*{
    margin: 0;
    border: 0;
}

#head{
    align-items: center;
    align-content: center;
    text-align: center;
    color: #F5F3F5;
    height: 12vh;
    
}
body{
    background-color: #1B264F;
    justify-content: center;

}
.container{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 70vh;
}

#game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    text-align: center;
    color: #302B27;
    margin: 1px;
    background-color: #F5F3F5;
    border :none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    border-radius: 1rem;
}
#reset{
    align-content: center;
    font-size: 1.5rem;
    text-align: center;
    background-color: black;
    color: #F5F3F5;
    text-decoration: wavy;
    text-decoration-color: white;
    justify-content: center;
    border-radius: .5rem;
}
.msg_box{
    text-align: center;
    justify-content: center;
    height: 12vh;
    color: #F5F3F5;
    font-size: 2rem;
 

}
.hide{
    display: none;
}
